<section id="slider" class="container-fluid">
  <div class="titulo">
      <h1> <a class="negro" [routerLink]="['/home']"> E A S Y T R A V E L</a></h1>
  </div>
  <br>
  <br>
  <nav>
    <a class="link" [routerLink]="['/home']"> <strong>TIEMPO</strong> </a>
    <a class="linke" [routerLink]="['/perfil']"><strong>PERFIL</strong>  </a>
    <a class="link" [routerLink]=""><strong>MALETA</strong> </a>
    <a class="link" [routerLink]="['/contacto']"><strong>CONTACTO</strong>  </a>
    <a class="link" [routerLink]=""> <strong>LOGOUT</strong> </a>
  </nav>

  <aside class="profile-card">

    <header>
      <a>
        <img src="{{user?.imgUrl}}" />
      </a>
      <h1>{{user?.username}}</h1>
      <h2>{{user?.name}}</h2>
    </header>
    <div class="profile-bio">
      <p> {{user?.descripcion}}</p>
    </div>
    <div class="ll">
      <a class="le" [routerLink]="['/edit/',user?._id]">Editar perfil</a>
    </div>
  </aside>

</section>