<section id="slider" class="container-fluid">
  <div class="titulo">
      <h1>E A S Y T R A V E L</h1>
  </div>
  <br>
  <br>
  <nav>
      <a  class="link"  [routerLink]="['/home']">  TIEMPO</a>
      <a  class="link" [routerLink]="['/perfil']"> PERFIL</a>
      <a  class="link" [routerLink]=""> MALETA</a>
      <a  class="link" [routerLink]=""> CONTACTO</a>
      <a  class="link" [routerLink]=""> LOGOUT</a>
  </nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card">
  <img src="{{user?.imgUrl}}" border-radius=10px;  width="100%" alt="John" >
  <h2>{{user?.username}}</h2>
  <p class="title">{{user?.name}}</p>
  <p>{{user?.descripcion}}</p>

  
  

  <a class="le" [routerLink]="['/edit/',user?._id]">Editar perfil</a>
</div>



