
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>
<br>
<br>
<br>
<br><h1>{{products?.name}}</h1>
<div class="card">
  <img src="{{user?.imgUrl}}" border-radius=10px;  alt="John" style="width:100%">
  <h1>{{user?.username}}</h1>
  <p class="title">{{user?.name}}</p>
  <p>{{user?.descripcion}}</p>

  
  <p>{{user?._id}}</p>

  <a class="le" [routerLink]="['/edit/',user?._id]">Editar perfil</a>
</div>

<a [routerLink]="['/home']">Volver</a>

