<section id="slider" class="container-fluid">
<div class="titulo">
    <h1> <a [routerLink]="['/home']"> E A S Y T R A V E L</a></h1>
</div>
<br>
<br>
<nav>
  <a  class="botone"[routerLink]="['/home']"><strong>TIEMPO</strong>  </a>
  <a  class="botone"[routerLink]="['/perfil']"><strong>PERFIL</strong>  </a>
  <a  class="botone"[routerLink]=""><strong>MALETA</strong>  </a>
  <a  class="botone"[routerLink]="['/contacto']"> <strong>CONTACTO</strong> </a>
  <a  class="botone" *ngIf="session.getUser()">
      <a (click)="logout()" routerLink=""><strong>LOGOUT</strong>   </a>
  </a>
</nav>
<br>
<br>
<br>
<form  class="pp" (ngSubmit)="submitForm(user._id, edituser)" #edituser="ngForm">
  <div class="carta col-sm-12">
  <label> Ticker Name </label>
  <input type="text" #editusername="ngModel" [(ngModel)]="user.username" name="username">
  <br>
  <br><br><br>
  <label> Email </label>
  <input type="text" #editemail="ngModel" [(ngModel)]="user.email" name="email">
  <br>
  <br>
  <button class="btn  ll btn-primary" type="submit"  (click)="submitForm(edituser)">Save</button>
</div>
</form>
</section>

<!-- <div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{user?.image}}" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Mi perfil</h3>
        
        <form (ngSubmit)="submitForm(user?._id, edituser)" #edituser="ngForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="user?.name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="user?.email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="user?.username">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" [(ngModel)]="user?.password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" [(ngModel)]="user?.password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <button class="btn btn-primary" type="submit">Save</button>
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr> -->