<h1>5 Dias</h1>
<a [routerLink]="['/home']"> volver</a>
<form [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="forecastCity" placeholder="Ciudad">
  <button  class="btn btn-default"> Buscar</button>
</form>
<div class="container">
  <div class="day" *ngFor="let day of cityForecast">
    <h2>{{day.day}}</h2>
    <div class="icon">
      <img src="http://openweathermap.org/img/w/{{day.icon}}.png" alt="">
    </div>
    <div class="temp">
      <h4>Maxima {{day.tempMax}}ºC</h4>
      <h4>Minima {{day.tempMin}}ºC</h4>
    </div>
    <div *ngIf></div>
  </div>
</div>